<div>
  <h1>IMDB Movie Directory</h1>
  <input ng-model="query">
  <radiogroup>
    <input type="radio" name="searchFilter" value="title" ng-click="refine='title'" checked>Title
    <input type="radio" name="searchFilter" value="rank" ng-click="refine='rank'">Rank
  </radiogroup>

  <div ng-hide="!query">
    <div class="movie-item" ng-repeat="movie in movies | filter:query | orderBy:refine">
      <a href="#/details/{{movie.rank}}"><h2>{{movie.title}}</h2></a>
      <p>Rank: {{movie.rank}}</p>
      <img src="./data/images/{{movie.id}}.jpg" />
    </div>
  </div>
</div>
